@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquareNeo@1.0/nanumsquareneo.css);

@import "tailwindcss";

body {
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: 700;
}

.nh {
  font-weight: 900;
}
